<header id="header">
    <a href="/" class="title">Raj Consulting</a>
</header>

<div id="wrapper">
    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <h1 class="major">Who Am I</h1>
            <span class="image fit"><img src="images/pic04.jpg" alt="" /></span>
            <p>Coming soon...</p>
        </div>
    </section>
</div>